body {
    color: white;
    background-image: url("fundologin.png");
}
.titulo{
    text-align: center;
    margin-top: 30vh;
    padding-left: 50px;
    background-color: #A852DD;
    max-height : 150px;
}

.contenerlogin{
    width: 405px;
    height: 421px;
    background-color: #B94BC2;
    border-radius: 100px;
    margin: 0 auto;
}
.centrallg{
    width: 70%;
    height: 100%;
    border: 1px solid red;
    margin: 0 auto;
}
.vermelho{
    width: 50%;
    height: 50%;
    padding: 50px;

}